
<div class="comment-group flex-row">
    <div class="name-icon">{{{create_icon user.name}}}</div>
    <div class="comment-container">
        <div class="comment-inner">
            {{comment}}
        </div>
        <div class="comment-footer">
            - posted by {{user.name}} on {{format_date date_created}}
        </div>
    </div>
</div>

