<div class="list" ondrop="drop(event)" ondragover="allowDrop(event)">
    <h2>{{name}}</h2>
    <div class="task-wrapper">
{{#each tasks as |Task|}}
{{> task-details}}
{{/each}}



    </div>


</div>