<div class="container bg-dark">
<div class="card mt-4">
  <h5 class="card-header bg-success text-white">Change Username</h5>
<form class="card-body" id="change-username">
  <div class="mb-3">
    <label for="username" class="form-label">Current: {{user.name}}</label>
    <input type="text" class="form-control" id="username">
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-secondary form-control">Update Username</button>
  </div>
</form>
</div>
</div>

<div class="container bg-dark">
<div class="card mt-4">
  <h5 class="card-header bg-success text-white">Change Email</h5>
<form class="card-body" id="change-email">
  <div class="mb-3">
    <label for="email" class="form-label">Current: {{user.email}}</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-secondary form-control">Update Email</button>
  </div>
</form>
</div>
</div>

<div class="container bg-dark">
<div class="card mt-4">
  <h5 class="card-header bg-success text-white">Change Password</h5>
<form class="card-body" id="change-password">
  <div class="mb-3">
    <label for="password" class="form-label">New password must be at least 8 characters</label>
    <input type="text" class="form-control" id="password">
  </div>
  <div class="mb-3">
  <button type="submit" class="btn btn-secondary form-control">Set New Password</button>
  </div>
</form>
</div>
</div>

<script src="/js/account.js"></script>