{{!< layouts/main}}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h5
                    class="card-header bg-secondary text-white text-center"
                >Signup</h5>
                <div class="card-body">
                    <form id="signup-form" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input
                                type="email"
                                required="required"
                                class="form-control"
                                id="email"
                                placeholder="Enter a valid email address"
                            />
                        </div>
                        <div class="mb-3">
                            <label
                                for="username"
                                class="form-label"
                            >Username</label>
                            <input
                                type="text"
                                required="required"
                                class="form-control"
                                id="username"
                                placeholder="Enter username"
                            />
                            <div class="form-text">Be unique! Choose a username.</div>
                        </div>
                        <div class="mb-3">
                            <label
                                for="password"
                                class="form-label"
                            >Password</label>
                            <input
                                type="password"
                                required="required"
                                class="form-control"
                                id="password"
                                placeholder="Enter password"
                            />
                        </div>
                        <div class="mb-3">
                            <button
                                type="submit"
                                class="btn btn-secondary btn-block"
                            >Signup</button>
                        </div>
                        <p class="text-center mb-0">
                            <small>Already have an account? Click here to
                                <a href="/login">Login</a></small>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>