<!-- views/welcome.handlebars -->
<<<<<<< HEAD
<h1>Welcome to Task Board</h1>
<p>Please log in to continue:</p>
<form action="/login" method="post">
    <div>
    <button type="submit">Login</button>
    </div>
</form>
=======
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Task Board</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Task Board</h1>
        <div class="buttons">
            <a href="/login" class="btn btn-primary">Login</a>
            <a href="/signup" class="btn btn-secondary">Sign Up</a>
        </div>
    </div>
</body>
</html>
>>>>>>> 849189d748433093cce0114841cec5dd9a0bf2d4
