<!-- views/welcome.handlebars -->

{{!< layouts/main}}

<div class="container">
    <h1>Welcome to Task Master</h1>
    <div class="buttons">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-secondary">Sign Up</a>
    </div>
</div>
<div class="sections-container">
    <div class="section-1">
        <h2>The offer</h2>
        <p>Our taskmaster is a visual tool designed to streamline your workflow,
            enhance collaboration, and boost productivity.
            <br />
            Whether you are managing tasks, projects, or personal goals, this
            board will be your go-to companion.</p>
    </div>

    <div class="section-2">
        <h2>How to Use the taskmaster</h2>
        <ul>1. Columns: Our board consists of several columns, each representing
            a different stage of work.
            <br />
            These typically include “To Do,” “In Progress,” and “Done.” Move
            your tasks across these columns as they progress..</ul>
        <ul>2. Cards: Each task or item is represented by a card
            <br />
            Create a new card for every task you need to tackle. Add relevant
            details, such as due dates, descriptions, and assignees.</ul>
    </div>
</div>