<!-- views/welcome.handlebars -->
<h1>Welcome to Task Board</h1>
<p>Please log in to continue:</p>
<form action="/login" method="post">
    <div>
    <button type="submit">Login</button>
    </div>
</form>
