:root {
  --main-blue: #003459;
  --main-black: #242323;
  --main-white: #f2f2f2;
  --border: #ccc;
}

/* public/styles/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('/assets/images/9402066.jpg');
    background-color: transparent;
    opacity: 0.9;

/*   from before rasikas merge */
/*   font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2; */

}

/* ---------------MAIN COMPONENTS-----------*/

.container {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

  /*   from before rasikas merge */
/*   max-width: 100%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; */

}


h1 {
  margin-bottom: 20px;
}

h2 {
    font-style:italic;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

button {
  background-color: var(--main-blue);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  color: white;
  font-weight: 700;
  border: none;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #003459;
  color: #ffffff;
}

.btn-secondary {
  background-color: #003459;
  color: #ffffff;
}

.btn-primary:hover,
.btn-secondary:hover {
  opacity: 0.8;
}

.nav-link {
    font-style: var(--main-black);
    color: #242323;
}

.sections-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 50px; 
    margin-left: 20px;
    margin-right: 20px;
}

.section-1 {
    flex: 0 0 48%; 
    opacity: 0.8;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 20px;
    text-align: center;
    font-style: italic;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}


.section-2 {
    flex: 0 0 48%; 
    opacity: 0.8;
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 20px;
    text-align: left;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

p {
    font-size: 18px; 
}

/*-------------TASK POPUP-------------*/

.modal-header {
  border: none;
  /* align-items: center; */
}
.modal-content {
  border-radius: 8px;
}

.modal-body,
.comment-body {
  padding: 0 1rem;
  label {
    text-align: left;
  }
  textarea,
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: lightgray;
  }
  textarea.new-comment {
    height: 2.5rem;
    padding: 5px;
  }
}

.fa-pencil {
  margin-top: 0.6rem;
}
.fa-align-left,
.fa-calendar-days,
.fa-comment {
  margin-top: 0.2rem;
}
.fa-solid {
  font-size: 18px;
}

[id*="editTask"] {
  input.task-title {
    border: none;
    padding: 5px 5px 0;
  }
  i {
    margin-right: 1rem;
  }
  .list-text {
    font-size: 12px;
    margin-left: 0.5rem;
    margin-bottom: 0;
  }
  .form-group {
    width: 100%;
  }
}

/* #edit-task-save {
    background-color: var(--main-blue);
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    margin-top: 0.5rem;
    color: white;
    font-weight: 600;
} */

#edit-task-save:hover {
  cursor: pointer;
  opacity: 0.7;
}

.delete-body {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
}
.delete-task {
  background-color: #cf222e;
  color: #f4f4f4;
}

/*-------------LISTS-------------*/

.list {
  padding: 1rem;
  min-width: 400px;
  min-height: 600px;
  height: 100%;
  background-color: var(--main-blue);
  border-radius: 12px;
  margin: 2rem;
  h2 {
    color: white;
  }
}

.new-task-container {
  margin-top: auto;
}

#add-task,
.task-open {
  background-color: white;
  color: black;
}

.list-button-container {
    margin: 2rem;
    .fa-plus {
        margin-right: 1rem;
    }
}

.list-button {
    width: 10rem;
}

.list-button-sml {
    font-size: 14px;
    width: 5rem;
    padding: 5px;
}

.list-name-input {
    height: 3rem;
    border: none;
    border-radius: 8px;
}

.list-title {
    justify-content: center;
    [id^="delete-list"] {
        margin-left: auto;
    }
}

.update-list-title {
    margin-left: 1rem;
    background-color: white;
    color: var(--main-blue);
}

[id^="list-title"] {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    border: none!important;
}




/*-------------COMMENTS-------------*/
.comment-container {
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
  margin-right: 0.5rem;
}
.comment-inner {
  padding: 0.5rem;
}
.comment-footer {
  background-color: var(--main-blue);
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 11px;
  border-radius: 0 0 8px 8px;
}

/* .save-comment {
    display: none;
} */

.comment-body {
  padding: 0 0.5rem;
  margin-top: 2rem;
}
.new-comment-group {
  padding: 0 0.5rem;
}
.name-icon {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: green;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 5px;
  margin-right: 0.5rem;
  margin-left: 0.2rem;
  text-align: center;
}

/*-------------GENERAL-------------*/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.text-left {
  text-align: left;
}
